@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');

* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

:root {
    --bg-grey: #697280;
    --dark-grey: #414040;
    --green: #83b19b;
    --text-dark: #181a1e;
    --text-grey: #8c8c8c;
    --white: #FFFFFF;
}

body {
    font-family: "Open Sans", sans-serif;

}

HTML {
    font-size: 62.5%;
}

.btn {
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    padding: 1rem 4rem;
    font-size: 2rem;
}

header {
    background-color: var(--bg-grey);
    /* width: 90%; */
    margin-inline: auto;
    padding-block: 3rem;

}

.container {
    width: 90%;
    margin: auto;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.navbar {
    align-items: center;
    display: flex;
    /* height: 15vh; */
    justify-content: space-between;
    /* padding: 0 5%; */
    margin-bottom: 3rem;
}

.navbar .logo {
    flex: 2;
}

.navbar .logo img {
    width: 10rem;
}

.navbar .list {
    align-items: center;
    display: flex;
    font-size: 1.7rem;
    gap: 4rem;
    list-style-type: none;
    margin-right: 5rem;
    padding-bottom: 3rem;
}

.navbar .list .list-item a {
    color: var(--white);
    text-decoration: none;
}

.navbar div:last-child {
    margin-bottom: 30px;
}

.navbar .btn {
    background-color: transparent;
    border: 2px solid var(--text-grey);
}

.fa-solid.fa-bars{
    display: none;
}

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero {
    align-items: center;
    display: flex;
    gap: 5rem;
    padding-bottom: 20px;
}

.hero-left,
.hero-right {
    width: 100%;
}

.hero-left {
    border-radius: 2rem;
    height: 60rem;
    margin: 0 3rem;
    overflow: hidden;
}


.hero-left img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.hero-right h1 {
    color: var(--white);
    font-family: "Raleway";
    font-size: 7rem;
    line-height: 7rem;
}

.hero-right p {
    color: var(--white);
    font-size: 2rem;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.email {
    position: relative;
    width: 100%;
}

.email input {
    outline: none;
    padding-left: 2rem;
    padding-right: 20rem;
    padding: 3rem 5rem;
    /* width: 60rem; */
    width: 80%;
}

.email input::placeholder {
    color: var(--text-grey);
    font-size: 1.5rem;
    padding-left: 0rem;
}

.email i {
    font-size: 2rem;
    left: 2rem;
    position: absolute;
    top: 3rem;
}

.email button {
    position: absolute;
    right: 20px;
    top: 10px;
}

/* ------------------------------ */
/* ---------- GROWTH ------------ */
/* ------------------------------ */
.growth-section {}

.growth {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-top: 5rem;
    max-width: 78rem;
}

.growth h2 {
    color: var(--text-dark);
    font-family: "Raleway";
    font-size: 4.5rem;
    padding-bottom: 6rem;
    text-align: center;
}

.growth-stats {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    text-align: center;
    width: 80vw;

}

.stat h4 {
    font-size: 4rem;
    font-weight: 700;
}

.stat p {
    color: var(--dark-grey);
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 60px;
    padding-top: 10px;
}

.growth-img {
    height: 80vh;
    margin-top: 2rem;
    overflow: hidden;
    width: 80vw;
}

.growth-img img {
    height: 100%;
    object-fit: cover;
    object-position: top;
    width: 100%;
}

/* ------------------------------ */
/* ---------- SERVICE ------------ */
/* ------------------------------ */
.service-heading {
    color: var(--text-dark);
    font-family: "Raleway";
    font-size: 5rem;
    font-weight: 900;
    margin-top: 20rem;
    padding-bottom: 2rem;
    text-align: center;
}

.services {
    align-items: center;
    display: flex;
    gap: 10rem;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px auto 0 auto;
    max-width: 80%;
}

.services-section-one,
.services-section-two,
.services-section-three {
    display: flex;
    gap: 5rem;
}

.services-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-section-two {
    flex-direction: row-reverse;
}

.services-left h3 {
    color: var(--text-dark);
    font-family: "Raleway";
    font-size: 4.5rem;
    font-weight: 700;
    padding-bottom: 30px;
}

.services-left p {
    color: var(--text-grey);
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 30px;
}

.services-left .btn {
    margin-right: auto;
    background-color: var(--green);
}

.services-right {
    height: 55rem;
    width: 100%;
}

.services-right img {
    height: 100%;
    object-fit: cover;
    object-position: right;
    width: 100%;
}

.services-section-two img {
    height: 100%;
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.services-section-three img {
    height: 100%;
    object-fit: cover;
    object-position: top;
    width: 100%;
}

/* ------------------------------ */
/* ---------- TEAM ------------ */
/* ------------------------------ */
.team-section {
    margin-bottom: 5rem;
    margin-inline: auto;
    max-width: 80vw;
    padding-top: 12rem;
}

.team-section .headline {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.team-section h1 {
    color: var(--text-dark);
    font-family: "Raleway";
    font-size: 4.5rem;
}

.team-section p {
    color: var(--text-grey);
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3.5rem;
}

.team-members {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
}

.team-card .img {
    height: 45rem;
    overflow: hidden;
    width: 35rem;
}

.team-card .img img {
    height: 100%;
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.team-card h3 {
    color: var(--text-dark);
    font-size: 2.5rem;
    padding-block: 2rem;
}

.team-card p {
    color: var(--dark-grey);
    font-size: 1.5rem;
}

.btn-team {
    text-align: center;
    margin-top: 5rem;
}

.team-section button {
    padding: 2rem 6rem;
    background-color: var(--green);
}

/* ------------------------------ */
/* ---------- FOOTER ------------ */
/* ------------------------------ */
.footer {
    background-color: black;
    color: var(--white);
    padding-inline: 10%;
}

.footer-logo {
    align-items: center;
    display: flex;
    /* height: 15rem; */
    padding-block: 3rem;
    justify-content: space-between;
}

.footer-logo ul {
    display: flex;
    gap: 4rem;
    list-style-type: none;
}

.footer-logo i {
    font-size: 1.7rem;
}

.footer-logo ul li span {
    align-items: center;
    background-color: rgb(62, 62, 62);
    border-radius: 5rem;
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 5rem;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0 10rem 0;
}

.footer-nav h3 {
    font-size: 1.8rem;
    padding-bottom: 2.2rem;
}

.footer-nav ul {
    color: var(--text-grey);
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 600;
    gap: 2rem;
    list-style-type: none;
}

@media (width <=425px) {

    * {
        /* background-color: #8bb7a2; */
        /* opacity: 0.2; */
        /* border: 2px solid red; */
    }

    .navbar .logo {
        flex: 1;
    }

    .navbar .list {
        display: none;
    }

    .navbar div:nth-child(3){
        /* display: none; */
        display: flex;
        align-items: center;
        margin: 0;
    }

    .navbar .btn{
        padding-inline: 2rem;
        padding-block: 1rem;
        font-size: 1.2rem;
    }

    .fa-solid.fa-bars{
        display: block;
        margin-left: 1rem;
    }


    .hero {
        margin: 0;
        padding: 0;
        flex-direction: column;
        gap: 3rem;
    }

    .hero-left {
        margin: 0rem;
        width: 100%;
        height: 70%;
    }

    .hero-left img {
        width: 100%;
    }

    .hero-right h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .hero-right p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-block: 1rem;
    }



    .growth h2 {
        padding: 0;
        margin-block: 1rem;
        font-size: 2.5rem;
        width: 80%;
    }

    .growth-stats {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .growth-stats h4 {
        font-size: 2rem;
    }

    .growth-stats p {
        font-size: 1.5rem;
        padding: 0;
        padding-block: 1rem;
    }

    .growth-img {
        height: 15rem;
    }



    .service-heading {
        margin-top: 5rem;
        font-size: 2.8rem;
        width: 80%;
        margin-inline: auto;
        padding: 0;
    }

    .services {
        gap: 3rem;
        margin-top: 2rem;
    }

    .services .services-section-one,
    .services .services-section-two,
    .services .services-section-three {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .services-left {
        text-align: center;
    }

    .services-left h3 {
        font-size: 2.2rem;
        padding: 0;
    }

    .services-left p {
        font-size: 1.5rem;
        padding-block: 2rem;
    }

    .services-left .btn {
        padding-block: 1rem;
        padding-inline: 2rem;
        font-size: 1.5rem;
    }

    .services-left button {
        margin-inline: auto;
    }

    .services-right {
        height: 20rem;
    }



    .headline {
        flex-direction: column;
        text-align: center;
        margin-top: 5rem;
    }

    .headline h1 {
        font-size: 3rem;
        /* line-height: rem; */
    }

    .headline p {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-block: 1rem;
    }

    .team-section {
        padding: 0;
        margin-block: 3rem;
    }

    .team-members {
        flex-direction: column;
        padding: 0;
    }

    .team-card {
        margin-block: 1rem;
        text-align: center;
    }

    .team-card .img {
        width: 100%;
        height: 30rem;
        overflow: hidden;
    }

    .team-card h3 {
        padding-block: 1rem;
    }

    .team-card p {
        padding-block: 0.5rem;
        line-height: 2rem;
    }

    .btn-team {
        text-align: center;
        margin: 0;
    }

    .btn-team .btn {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }



    .footer .footer-logo {
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .footer-logo img {
        width: 10rem;
    }

    .footer-logo ul li span {
        width: 3rem;
        height: 3rem;
    }

    .footer-logo ul {
        gap: 2rem;
    }


    .footer-nav {
        padding: 3rem 0 3rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    .footer-nav h3 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .footer-nav ul {
        gap: 0.3rem;
        font-size: 1.2rem;
    }


}